#root, html{
  background-color: rgba(206, 236, 245, 0.82);
}
.wrap {
  padding: 50px;
  margin: 12% 35%;
  background-color: rgb(231, 231, 231); 
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.forgotLink{
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}
.btn-primary{
  --bs-btn-bg: #165ec9;
}
.link{
  margin-left: 15px;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 990px) {

.wrap{
  margin: 10% 25%;
}
}

@media screen and (max-width: 720px){
.wrap{
  margin: 8% 17%;
}
}
@media screen and (max-width: 500px){
  .wrap{
    margin: 6% 13%;
  }
  }
  @media screen and (max-width: 407px){
    .wrap{
      margin: 0; 
    }
    }